html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #232323;
    background: -moz-linear-gradient(45deg, #232323 0%, #212121 100%);
    background: -webkit-linear-gradient(45deg, #232323 0%,#111111 100%);
    background: linear-gradient(45deg, #232323 0%,#111111 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#232323', endColorstr='#111111', GradientType=1);
    font-family: 'Source Sans Pro', "Roboto", sans-serif;
}